<footer class="footer-container">
    <div class="container">
        {% for footer in footer_link %}
        <div class="row footer-containertent">
            <div class="col-md-12 contac-us">
                <h4>Keep  in touch</h4>
                <ul>
                        <li><i style="color:#c69963;" class="fa fa-phone"></i>{{footer.phone}}</li>
                        <li><i style="color:#c69963;" class="fa fa-envelope-o"></i>{{footer.email}}</li>
                    </ul>
            </div>
            <ul class="footer-social-info">
                <br>
                <br>
                <li>
                    <a href="{{footeer.facebook}}"><i style="color:#c69963;" class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="{{footer.instagram}}"><i style="color:#c69963;" class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a href="mailto:{{footer.email}}"><i style="color:#c69963;" class="fa fa-envelope-o"></i></a>
                </li>
            </ul>
            <br>
            <br>
            <p align="center">{{footer.copyright_text}}</p>
        </div>
        {% endfor %}
    </div>
</footer>